<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.tm4e.ui.themes">
        <theme id="frostillicus.tm4e.PlasticCodeWrap"
            name="Plastic Code Wrap"
            path="themes/PlasticCodeWrap.css"
            dark="true"
        />
    </extension>
</plugin>